
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmail</title>
</head>
<body>
    <div class="toggles"> 
        <h3 style="text-align:center;">На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</h3>
    </div>
<style>
    .toggles {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
</style>
</body>
</html>
