@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<link rel="stylesheet" href="~/Content/LoginForm.css"/>
<hgroup class="title">
   
</hgroup>
<div class="login">
    <div class="login-form">
        <h3>@ViewBag.Title.</h3>
        <br />
        <p>
            Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</div>
